$primary-border-radius: 4px;
$primary-border-width: 1px;
$primary-background-color: #fbfbfb;
$primary-border-color: #cdcfd2;
$primary-border: $primary-border-width solid $primary-border-color;
$primary-color: #009965;
