@import '../../../app/variables';

.container {
  background-color: $secondary-background-color;

  // border-radius: $primary-border-radius;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
