.dropdown {
  min-width: 100px;
}

.itemContainer {
  background-color: var(--secondary-background-color);

  &:hover {
    background-color: var(--primary-background-color);
  }
}

.selectedItem {
  .itemContainer {
    &:hover {
      background-color: var(--primary-background-color);
    }
  }
}
